/* LoginForm.css */

/* Center the form container in the middle of the screen */
.form-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 520px; /* Increased height to accommodate the new text and link */
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Form styling */
form {
  width: 100%; /* Ensure the form takes the full width of the container */
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
  gap: 1.5rem; /* Equal spacing between form elements */
  align-items: center; /* Center form elements horizontally */
}

/* Label styling */
.form-label {
  color: #000; /* Black text color */
  font-weight: bold;
  margin-bottom: 0.5rem; /* Add space between label and input */
  width: 100%; /* Stretch label to full width of container */
  text-align: left; /* Align label text to the left */
  margin-left: 5px;
}

/* Input styling */
.form-control {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 17px;
  padding: 10px 15px;
  font-size: 1rem;
  width: 300px; /* Fixed width for inputs */
  outline: none;
}

/* Input focus state */
.form-control:focus {
  background-color: #e9ecef;
  border-color: #347baf;
  box-shadow: 0 0 5px rgba(52, 123, 175, 0.5);
}

.form-input, input {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    color: black;
}

/* Button styling */
.btn-primary {
  background-color: #347baf;
  border-color: #347baf;
  color: white;
  border-radius: 17px;
  padding: 10px 15px;
  font-size: 1rem;
  width: 335px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Error message styling */
.text-danger {
  font-size: 0.875em;
  color: #dc3545;
  text-align: left;
  width: 300px; /* Match the width of inputs and labels */
  margin: 2px 5px 0px 5px 
}

/* Prevent sliding and maintain fixed alignment */
.is-invalid {
  border-color: #dc3545;
}


/* Styling for the register link */
.register-link {
    text-align: center;
    font-size: 1rem;
  }
  
  .register-link .link {
    color: #347baf;
    text-decoration: none;
  }
  
  .register-link .link:hover {
    text-decoration: underline;
  }

  /* Logo styling */
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-bottom: 1rem;
}

.logo {
  max-width: 200px;
  height: auto; 
}
